{# component/_navbar.html.twig #}
<nav>
    <ul>
        <li><a href='/'>Accueil</a></li>
        <li><a href='/details.php'>Details</a></li>
        <li>Services</li>
        <li>Blog</li>
        <li>Contact</li>
    </ul>
</nav>